<div class="container" >  
  <form id="contact" action="" method="post">
    <input type="checkbox"  (change)="toggleForms()" name="toggle" id="toggle" class="toggle-button">
    <label for="toggle"></label>
    
    <div *ngIf="bulkShow">
      <h3>Certificates for one</h3>   
      <h4>Contact Tech Team for any queries</h4>
      <fieldset>
        <input placeholder="Name of candidate" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Email Address of candidate" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </div>

    <div *ngIf="!bulkShow">
      <h3>Certificates for Many</h3>
      <h4>Contact Tech Team for any queries</h4>
      <div class="file-upload">
        <label for="upload" class="file-upload__label">Upload CSV</label>
        <input id="upload" class="file-upload__input" type="file" name="file-upload" (change)='openFile($event)' accept=".csv" />
      </div>
      <button class="primary" (click)="showPreview()">Preview</button>
    </div>
  </form>
</div>

<div class="backdrop" *ngIf="showDataTable">
  <section *ngIf="!errorTable" class="height_max">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Select all &nbsp; <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();"/></th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let item of dataTable | slice:1">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>
            
<!--             <select [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event,item)'>
            <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
            </select>
 -->
            <select (change)="onChangeRole($event,item)">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
            </select>

            </td>
            <td>  <input type="checkbox" [(ngModel)]="item.checked" (change)="checkIfAllSelected();"></td>
          </tr>
        </tbody>
    </table>
  </section>

  <section *ngIf="errorTable">
    <h1>ERROR NIBBA</h1>
  </section>

  <button class="primary" (click)="submitData()">Submit</button>

</div>
